<div class="container-fluid text-center">
  <h1>今の気分じゃないのは？</h1>
  <div id="choice">
    <button class="btn btn-primary btn-lg">
      肉
    </button>
    <button class="btn btn-primary btn-lg">
      魚
    </button>
    <button class="btn btn-primary btn-lg">
      野菜
    </button>
  </div>

  <div class="btn btn-lg">
    <%= link_to 'つぎへ', '/menus/explore' %>
  </div>
</div>
