<p>「あっさりな味付け」は気分？</p>

<%= link_to "気分", {:action => "suggest", :feel => "light"}, :class => "btn btn-info" %>
<%= link_to "気分じゃない", {:action => "suggest", :feel => "heavy"}, :class => "btn btn-info" %>
<%= link_to "わからない", {:action => "suggest", :feel => "unknown"}, :class => "btn btn-info" %>

