<div class="suggestion">
  <p>あなたが今食べたいのは...</p>
  <div><span class="menu"><%= @menu %></span>なようです！</div>
</div>

<%= link_to 'Retry', 'explore', :class => 'btn btn-warning retry' %>
<%= link_to '食べられるお店を見る', 'shops', :class => 'btn btn-success' %>
