<div class="suggestion">
  <p>あなたが今食べたいのは...</p>
  <div><span class="menu"><%= @menu %></span>なようです！</div>
</div>

<%= link_to 'Retry', 'explore', :class => 'btn btn-warning retry' %>
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">食べられるお店を見る <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% @locations.each do |loc| %>
    <li><%= link_to loc, shops_path(menu_name: @menu) %></li>
    <% end %>
  </ul>
</div>
