<div class="suggestion">
  <p>あなたが今食べたいのは...</p>
  <img src="http://www.sozai-bank.com/clip/food/ramen1.gif" class="img-circle">
  <div><span class="menu">ラーメン</span>なようです！</div>
</div>

<div class="btn btn-warning retry">
  <%= link_to 'Retry', '/explore' %>
</div>
