<h1>候補店一覧</h1>

<div class="list-group">
  <% @shops.each do |shop| %>
    <a href="<%= shop.url %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= shop.name %></h4>
    </a>
  <% end %>
</div>
