<p class="explanation">こんな顔の人はすき？</p>

<% looks_img = @looks_img.shuffle[0] %>
<div id="looks">
<img src="<%= looks_img %>" class="img-thumbnail" >
</div>
<%= link_to '', looks_select_path(:location => @loc_name,:img_url => looks_img), :class => 'spinner btn-select btn-tooltip', :title => "この人が好き!" %>
<%= link_to '', looks_path(:location =>@loc_name), :class => "spinner btn-reload btn-tooltip", :title => "タイプじゃない・・・" %>
