<p>どうやってランチを選ぶ？</p>

<%= link_to "性格重視", {:controller => "characters", :action => "index" },:class => "btn btn-info" %>
<%= link_to "顔重視", "#", :class => "btn btn-info" %>
<%= link_to "経済力重視", "#", :class => "btn btn-info" %>
<%= link_to "評判重視", {:controller => "reputations", :action => "index" }, :class => "btn btn-info" %>

