<div class = "container-fluid" id = "parent">
  <h1 id="title">aimai lunch</h1>
  <p id="explanation">
  The FASTEST lunch deciding
  tools you've ever experienced.
  </p>
  <%= link_to 'Get Started', '/characters', :class => 'btn btn-success start', :id => 'start-button' %>
</div>
