
<div class="location_menu" >
 <ul>
  <li><span class="station_view">東京駅</span>
　 <ul class="station_list">
    <% @locations.each do |loc| %>
    <li><%= loc %></li>
    <% end %>
  </ul>
  </li>
 </ul>
 <p>で、ランチするお店を探す</p>
</div>
