<% shop = @shops.shuffle[0] %>
<div class="description">
  <p>この口コミのお店でランチしませんか？</p>
</div>
<div id="comment">
  「<%= shop.comment %>」
</div>
<%= link_to 'このお店でランチする', shops_path(:number => @shops.index(shop)), :class => 'btn btn-success reputation spinner' %>
<%= link_to '別の評判を表示する', reputations_path(:location => @loc_name), :class => 'btn btn-success reputation spinner' %>
