<% i = 0 %>
<% while @comment[i].comment.empty? do%>
 <% i = i + 1 %>
<% end %>
<div class="balloon"><%= @comment[i].comment %></div>

<% url = @comment[i].url %>
<% shop = @comment[i] %>
<%= link_to 'このお店でランチする', shops_single_path(:number => i), :class => 'btn btn-success reputation' %>

