  <div >
    <%= image_tag('reputations/woman0.png', :id => "reputation-icon") %>
    <% @shops.sort_by{|shop| %>
      <div class="reputation item">
        <div class="icon">
        </div>
        <div class="ballon">
          <div class="box">
            <%= shop.comment %>
          </div>
        </div>
      </div>

    <div class="carousel-caption">
      <label><%= link_to 'このお店でランチする', shop.url, :class => 'btn btn-success reputation' %></label>
    </div>
    <% } %>
  </div>
