<% shop = @shops.shuffle[0] %>
<div id="comment">
  <%= shop.comment %>
</div>
<%= link_to 'このお店でランチする', shops_path(:number => @shops.index(shop)), :class => 'btn btn-success reputation spinner' %>
<%= link_to '', reputations_path(:location => @loc_name), :class => 'spinner btn_reload', :title => "別の評判を表示する" %>
