<% if @shops.nil? %>
<h1>今日はラーメン二郎にでも行きなさい。</h1>
<% else %>
<% shop = @shops.shuffle[0] %>
<div class="comment">
  <%= shop.comment %>
</div>
<%= link_to '', reputations_path(:location => @loc_name), :class => 'spinner btn-reload', :title => "別の評判を表示する" %>
<%= link_to '', shops_path(:number => @shops.index(shop)), :class => 'spinner btn-determine', :title => "このお店でランチする" %>
