<p>どんなやつがお好み？</p>

<%= link_to "あっさり", {:action => "explore", :feel => "light"}, :class => "btn btn-info" %>
<%= link_to "こってり", {:action => "explore", :feel => "heavy"}, :class => "btn btn-info" %>
<%= link_to "わからない", {:action => "explore", :feel => "unknown"}, :class => "btn btn-info" %>

