<p class="explation">好きな雰囲気を選んでください。</p>

<!-- 配列をランダムに並び替えて先頭5つ表示 -->
<div id="characters">
<% @charas.sort_by{rand}[0..2].each do |chara| %>
<%= link_to chara, characters_select_path(:loc_name => @loc_name, :chara => chara), :class => "btn spinner" %>
<% end %>
</div>
<%= link_to "", characters_path(:location =>@loc_name), :class => "spinner btn_reload", :title => "別の選択肢を表示" %>
