<p>どんな人がお好み？</p>

<!-- 配列をランダムに並び替えて先頭5つ表示 -->
<div>
<% @charas.sort_by{rand}[0..4].each do |chara| %>
<%= link_to chara, characters_select_path(:loc_name => @loc_name, :chara => chara), :class => "btn btn-info" %>
<% end %>
</div>
<%= link_to "別のタイプ", characters_path(:location =>@loc_name), :class => "btn btn-reload" %>
