/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require_self
 *= require_tree .
 */

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#redirect_root{
	position: absolute;
	top: 100px;
	width: 100%;
	margin: 0 46%;
	font-size: 25px;
}
#redirect_root:hover{
	cursor: pointer;
}
.disabled_wall {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #000;
  -ms-filter: "alpha(opacity=40)";
  filter: alpha(opacity=40);
  opacity: 0.4;
  z-index: 99;
}

.main_content {
	text-align: center;
	width: 510px;
	height: 510px;
	margin-left: -239px;
	margin-top: -170px;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	color: green;
	padding: 60px
}
