/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*= require_self
*= require_tree .
*/
@import "mixins";

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-brand{
  @include hover;
}

body{
  /* 画像ファイルの指定 */
  background-image: url(/images/bg03.png);

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;
}

.btn-home{
  @include btn-icon('/images/home_icon.png');
  @include horizontal-centering;
  bottom: 5%; //下からの距離だけ指定
}

.btn-reload {
  @include btn-icon('/images/reload.png');
  left: 0;
  bottom: -20%;
}

.btn-select {
  @include btn-icon('/images/determine.png');
  right: 0;
  bottom: -20%;
}

.main-content {
  @include virtical-centering;
  @include horizontal-centering;
}

.explanation {
  color: black;
  font-size: 20px;
}


div.spinner {
  position: fixed !important;
}

//スピナー時の操作無効化用の壁
.disabled_wall {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #ffff;
  -ms-filter: "alpha(opacity=40)";
  filter: alpha(opacity=40);
  opacity: 50;
  z-index: 99;
}
