// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";


#characters {
  height: 65%;
  text-align: center;
  p{
    position: relative;
    top: 50%;
    color: green;
    margin: 3%;
    display: block;

    @media only screen and (max-width:767px){
      font-size: 40px;
    }
    @media only screen and (min-width:768px) and (max-width:1199px){
      font-size: 48px;
    }
    @media only screen and (min-width:1200px){
      font-size: 54px;
    }
  }
}

.btn-reload-chara {
  @include horizontal-centering;
  @include btn-icon('/images/reload.png');
  left: 33%;
  right: 62%;
  bottom: 0;
}

.btn-select-chara {
  @include horizontal-centering;
  @include btn-icon('/images/determine.png');
  left: 60%;
  right: 35%;
  bottom: 0;
}
