// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.explation {
	color: black;
	font-size: 22px;
}
#characters {
	margin-bottom: 240px;
}
#characters .btn {
	color: green;
	display: block;
	border: 1px solid green;
	margin: 33px;
	font-size: 34px;
}
#characters .btn:hover {
	color: #fff;
	background-color: green;
}
