// Place all the styles related to the looks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#looks img {
  max-width: 200px;
  max-height: 280px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
