// Place all the styles related to the looks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";

#looks img {
  @include horizontal-centering;
  max-width: 200px;
  max-height: 280px;
}

.btn-reload-face {
  @include btn-icon('/images/reload.png');
  left: 0;
  bottom: -20%;
}

.btn-select-face {
  @include btn-icon('/images/determine.png');
  right: 32px;
  bottom: -20%;
}
