// Place all the styles related to the reputations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";

.comment {
  position: relative;
  height:80%;
  font-size: 2em;
  overflow: scroll;
  color:rgb(128,89,4);
}

.btn-reload {
  @include btn-icon('/images/reload.png');
  left: 35%;
  margin-top: 10px;
}

.btn-determine {
  @include btn-icon('/images/determine.png');
  right: 35%;
  margin-top: 10px;
}
