// Place all the styles related to the reputations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reputation {
  width: 90%;
  display: table;
  margin:0 auto;
  .icon {
    width: 100px;
    position: relative;
    display: table-cell; //横並びに表示するための設定
    vertical-align: middle;
    img
    {
      border: none;
      background-color: transparent;
    }
  }
  .balloon {
    position: relative;
    display: table-cell; //横並びに表示するための設定
    vertical-align: bottom;
    padding-left:25px;
    padding-right:175px;
  }
}

.box {
  position: relative;
  background: #fff;
  width: 90%;
  margin-bottom: 20px;
  padding: 5px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
  }
  &:after{
    top: 10px;
    left: -9px;
    border-top: 5px solid transparent;
    border-right: 10px solid #fff;
    border-bottom: 5px solid transparent;
  }
}

.btn.reputation{
  width: 30%;
  margin:0 auto;
}
