// Place all the styles related to the reputations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";

.comment {
  position: relative;
  height:85%;
  overflow: scroll;
  color:rgb(128,89,4);
  font-size: 2em;
}

.description {
  position: relative;
  top: -120px;
p {
    color: #ff7373;
    font-size: 21px;
  }
}
