// Place all the styles related to the reputations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comment {
  position: relative;
  top: 30%;
  font-size: 2em;
}

.reputation {
  width: 90%;
  display: table;
  margin:0 auto;
  position: relative;
  top: 80%;
}
