// Place all the styles related to the shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.single {
  position: relative;
  text-align: center;
  margin: 0 0;
  font-size: 20px;
  .item {
    margin: 0 0;
    overflow: hidden;
    color: #333;
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .caption {
      top: 100%;
      label {
        display: block;
      }
      #shop_name {
        font-size: 20px;
      }
      .keywords {
        display: inline;
      }
    }
  }
}
