// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.btn.start {
  margin-top: 10px;
  width: 200px;
  color: #fff;
  text-decoration: none;  
}
